
#appContainer {
    -fx-background-color: #f4ebfe;
}

/* labels */
Label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

/* text fields */
TextField {
    -fx-font-size: 14px;
    -fx-pref-width: 85px;
    -fx-background-color: #ffffff;
}
Text {
    -fx-text-fill: #ffffff;
}
/* list view */
#lvCategories {
    -fx-font-size: 14px;
    -fx-pref-width: 263px;
    -fx-background-color: #e8e8e8;
}

/* HBox labels */
HBox {
    -fx-spacing: 10px;
}

/* sliders and slider labels */
Slider {
    -fx-pref-width: 143px;
    -fx-background-color: #e8e8e8;
}

#lblSliderValue {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

/* table view */
TableView {
    -fx-background-color: transparent;
    -fx-base: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";

}

/* table columns */
TableColumn {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-base: transparent;
}

/* buttons */
Button {
    -fx-background-color: #7b68ee;
    -fx-text-fill: #fff;
}

/* Hover effect for buttons */
Button:hover {
    -fx-background-color: #6a5acd;
}

/* selected items in list view and table view */
.list-cell:filled:selected,
.table-row-cell:filled:selected {
    -fx-background-color: #7b68ee;
    -fx-text-fill: #fff;
}

.stopButton {
    -fx-background-image: url('/dk/MyMovies/GUI/Images/stop.png');
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

.playButton {
    -fx-background-image: url('/dk/MyMovies/GUI/Images/playbtn.png');
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}
